@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&display=swap');

*{
    font-family: "Nunito Sans", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: all .3s;
}

.vanish{
    display: none;
}